QWidget {
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, stop: 0 white, stop: 0.5 #DCDCDC, stop: 0.9 #949494);
}

QLabel {
    color:  rgb(65, 69, 67);
    background-color: rgba(255, 255, 255, 0);
}


QPushButton {
    background-color: #dad7d7;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, 
    stop: 0 white, stop: 0.7 #A9A9A9, stop: 0.95 #dad7d7);
    border-radius: 25px;
    color: rgb(63, 94, 83);
    border: 4px solid rgb(108, 161, 141);
    border-bottom: 5px solid rgb(87, 121, 101);
}

QPushButton:hover {
    background-color: qlineargradient(x1: 0, y1: 1, x2: 0, y2: 0, 
    stop: 0 white, stop: 0.7 #A9A9A9, stop: 0.95 #dad7d7);
    border: 4px solid rgb(108, 161, 141);
}

QPushButton#Button_close {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}


QLabel#innotech_min {
    color: rgb(44, 44, 176);
}

QLabel#time {
    color: rgb(50, 69, 61);
}

QLabel#date {
    color: rgb(94, 110, 103);
}



QProgressBar {
    border: 2px solid green;
}

QProgressBar::chunk {
    background-color: rgb(87, 177, 87);

}

QProgressBar#myprogressBar {
    border-radius: 10px; 
}

QProgressBar#progressBar {
    border-radius: 20px; 
}

QProgressBar#progressBar_2 {
    border-radius: 20px; 
}